<div class="imageHolder">
    <img src="~/images/kestane.jpg" alt="kestane" class="tarifBanner golgelendir" style="" />
    <div class="imageBaslik">Buraya admin baslik belirleyecek veri tabanı değişecek.</div>
</div>
<div class=""></div>