html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 5%;
    background-color: #F9F8EA;
}
.cardUstBaslik {
    padding-top:10px;

}

.cardUstBaslik:hover{
    color:red;
}

    .ustuneGelinceBuyusun:hover {
        height: 70%;
        width: 26%;
        margin-left: -1%;
        margin-right: -1%
    }

.sayfalarinBasligi{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    margin:3% auto;
}

